.barre{
    position:top;
}
#valide1{
    display:block;
    margin:auto;
}
#valide2{
    display:block;
    margin:auto
}

#infoCard{
  width: 200px;
  padding:  5px;
  position: absolute;
  left : 395px;
  top: 155px;
}

#infoCard p{
  font-size: 11px;
}

#divBoutSuppr{
  position: absolute;
  top: 0px;
  left : 395px;
  background-color:#424242;
  border-radius: 5px;
}

.butt-enable{
  color: white;
}

.butt-disabled{
  color: grey;
}
