<p>Couches disponibles :</p>

<!-- <div> {{array_nom_couches}} </div>  -->
 
 <mat-form-field>
    <mat-label>Choisir une couche </mat-label>
    <mat-select #layerChoisie [(value)]="selected">
      <mat-option *ngFor="let layer_name of array_nom_couches" [value]="layer_name">
        {{layer_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <p>You selected: {{selected}}</p>
  <button mat-raised-button (click)="SelectLayer(layerChoisie.value, array_nom_protocol)"> Choisir cette couche  </button>
  
  <p></p>
  <p>Rechercher une couche par nom :</p>
			<mat-form-field class="examples-full-width">
			<mat-label>Entrez le nom de la couche:</mat-label>
			  <input type="text"
					 placeholder="Ex: marine"
					 aria-label="Nom"
					 matInput
					 [formControl]="myControlN"
					 [matAutocomplete]="auto">
			  <mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let layer_name of array_nom_couches" [value]="layer_name">{{layer_name}}
				</mat-option>
			  </mat-autocomplete>
      </mat-form-field>
      
      <button id='valide2' mat-raised-button color='black' (click)="addPlug(array_nom_couches)">
        Valider
      </button>
		  
  <div #container></div> 

