#card-mesure{
  background-color: #424242;
  color: white;
  border-radius: 20px;
  margin-right: 10px;
	width: 190px;
  min-height: 100px;
}

mat-card-subtitle{
  color: black;
}

#boutonContainer{
  text-align: center;
}

#conteneur-points{
  overflow:auto;
  max-height: 140px;
  font-size: 12px;
  padding-left: 2px;
  margin: 15px 0px 5px 0px;
}

#distDernierPoint{
  font-size: 12px;
  margin-bottom: 0px;
  padding: 2px;
}

#distTot{
  font-size: 12px;
  margin-top: 5px;
  padding: 2px;
}
