.layers{
    max-height: 105px;
    overflow-y: scroll;
}
.Catalog{
    max-height: 220px;
    overflow-y: scroll;
}

.butt{
    background-color: green;
  }

.divBadge{
    position: absolute;
    top: 0px;
    left : 100%;
    border-radius: 5px;
  }