<mat-card>
  <mat-card-header>
    <mat-card-title>
      Module de recherche
    </mat-card-title>
  </mat-card-header>
	<mat-tab-group class="barre">		  
	  <mat-tab label="Recherche par attribut">
		<form id="form-rechercheAttribut">
			<mat-form-field class="example-full-width">
			<mat-label>Choisir un attribut:</mat-label>
			  <input id='input' 
			  		 type="text"
					 placeholder="Ex: marin"
					 aria-label="Attribut"
					 matInput
					 [formControl]="myControl"
					 [matAutocomplete]="auto">
			  <mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
				  {{option}}
				</mat-option>
			  </mat-autocomplete>
			</mat-form-field>
		  </form>
		  <button id='valide1' mat-raised-button color='black' (click)="addPlug(this.options)">
			Valider
		</button>
	  </mat-tab>
	</mat-tab-group>
</mat-card>


