<mat-card id='card-basemap'>

    <mat-card-header>
      <mat-card-title class="mat-panel-title">Fonds de carte</mat-card-title>
    </mat-card-header>

    <div class="conteneur-radio-boutons-basemaps">
      <mat-radio-group>

        <p class="baseMap-category">Mapbox</p>
        <mat-radio-button id='mapbox.streets' value='mapbox.streets' class="radio-button-above" [checked]="checkedBasemap=='mapbox.streets'" (change)='changeBasemap($event)'>Mapbox Streets</mat-radio-button><br>
        <mat-radio-button value="mapbox.light" id='mapbox.light'  [checked]="checkedBasemap=='mapbox.light'"  (change)='changeBasemap($event)'>Mapbox Light</mat-radio-button>

        <p class="baseMap-category" id="OSM">Open Street Map</p>
        <mat-radio-button value="osm" id='osm' class="radio-button-above" [checked]="checkedBasemap=='osm'" (change)='changeBasemap($event)'>OSM Standard</mat-radio-button><br>
        <mat-radio-button value="streets.osm" id='streets.osm' [checked]="checkedBasemap=='streets.osm'" (change)='changeBasemap($event)'>OSM Streets</mat-radio-button>

        <p class="baseMap-category" id="ESRI">ESRI</p>
        <mat-radio-button value="world.topo.map" id='world.topo.map' class="radio-button-above" [checked]="checkedBasemap=='world.topo.map'" (change)='changeBasemap($event)'>ESRI World topo Map</mat-radio-button><br>
        <mat-radio-button value="world.imagery" id='world.imagery' class="radio-button-above" [checked]="checkedBasemap=='world.imagery'" (change)='changeBasemap($event)'>ESRI World Imagery</mat-radio-button><br>
        <mat-radio-button value="world.shaded.relief" id='world.shaded.relief' class="radio-button-above" [checked]="checkedBasemap=='world.shaded.relief'" (change)='changeBasemap($event)'>ESRI World Shaded Relief</mat-radio-button><br>
        <mat-radio-button value="world.terrain.base" id='world.terrain.base' class="radio-button-above" [checked]="checkedBasemap=='world.terrain.base'" (change)='changeBasemap($event)'>ESRI World Terrain Base</mat-radio-button><br>
        <mat-radio-button value="world.street.map" id='world.street.map' [checked]="checkedBasemap=='world.street.map'" (change)='changeBasemap($event)'>ESRI World Street Map</mat-radio-button>

      </mat-radio-group>
    </div>

  </mat-card>
