#OSM, #ESRI{
	margin-top: 10px;
}

.radio-button-above{
	margin-bottom: 3px;
}

#card-basemap{
  background-color: #E9E9E9;
  color: black;
  border-radius: 20px;
  margin-right: 10px;
	width: 190px;
}
